.form-container {
    border: 2px solid rgb(228, 0, 0);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 20%; /* ou toute autre largeur en pourcentage ou pixels */
    margin: 0 auto; /* pour centrer horizontalement */
  }
  
  .form-control {
    border-radius: 20px;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .btn-primary {
    background-color: rgb(219, 36, 36);
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    border: none;
  }
  
  .text-center {
    text-align: center; /* pour centrer horizontalement */
  }
  
  h2 {
    margin: 0 auto; /* pour centrer horizontalement */
    width: 50%; /* ou toute autre largeur en pourcentage ou pixels */
  }
  
  .navbar {
    background-color: #c06767; /* pour changer la couleur de fond */
  }
  
  .nav-link {
    color: rgb(0, 0, 0); /* pour changer la couleur des liens */
    font-weight: bolder; /* pour mettre en gras les liens */
    padding: 1px 2px; /* pour changer l'espacement des liens */
  }
  
  .nav-link:hover {
    background-color: #ffffff; /* pour changer la couleur de fond lorsque la souris passe dessus */
  }
  
  
  /* styles pour les écrans de téléphone portable */
  @media (max-width: 767px) {
    .navbar {
      display: none; /* pour cacher le menu sur les téléphones portables */
    }
    /* styles pour cacher des éléments qui ne sont pas importants sur les écrans plus petits */
  }
  
  /* styles pour les écrans de tablette */
  @media (min-width: 768px) and (max-width: 991px) {
    /* styles pour les écrans de tablette */
  }
  
  /* styles pour les écrans d'ordinateur de bureau */
  @media (min-width: 992px) {
    /* styles pour les écrans d'ordinateur de bureau */
  }
  
  /* styles pour les écrans de résolution 4K */
  @media (min-width: 2560px) {
    /* styles pour les écrans de résolution 4K */
  }